        body { font-family: 'Poppins', sans-serif; }
        body { overflow-x: hidden; }

        .navbar {
            transition: 0.4s;
            background: transparent;
        }

        .navbar.scrolled {
            background: #000 !important;
            box-shadow: 0 2px 10px rgba(0,0,0,0.3);
        }

        .nav-link:hover {
            color: orange !important;
        }
        
        .nav-link:hover {
            color: orange !important;
        }

        /* container nav */
        #navMenuList {
            position: relative;
        }

        /* garis aktif */
        .nav-indicator {
            position: absolute;
            bottom: 5px;
            height: 3px;
            width: 0;
            background: orange;
            transition: all 0.35s cubic-bezier(0.25, 1, 0.5, 1);
            border-radius: 10px;
        }
        
        html {
            scroll-behavior: smooth;
        }

        .navbar-brand img {
            border-radius: 8px
        }

        .hero {
            /* Gunakan /img/ langsung, bukan public/img/ */
            background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
                        url("https://i.pinimg.com/1200x/4b/8f/1e/4b8f1eea3a2c000826e95d81d4de2f42.jpg") center; 
            background-size: cover;
            padding: 150px 0 100px 0;
            background-position: center;
            height: 90vh;
            color: rgb(255, 255, 255);
            display: flex;
            align-items: center;
            justify-content: center; /* Tambahkan ini agar teks benar-benar di tengah */
            text-align: center;
        }

       .wa-float {
            position: fixed;
            width: 60px;
            height: 60px;
            bottom: 25px;
            right: 25px;
            background-color: #25D366;
            color: white;
            border-radius: 50%;
            font-size: 30px;
            z-index: 9999;

            display: flex;
            align-items: center;
            justify-content: center;

            box-shadow: 0 5px 15px rgba(0,0,0,0.3);
        }

        .wa-float:hover {
            transform: scale(1.1);
            background-color: #1ebe5d;
            transition: 0.3s;
        }

        .wa-float {
            animation: fadeInUp 0.6s ease;
        }

        @keyframes fadeInUp {
            from {
                opacity: 0;
                transform: translateY(50px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        .tour-card {
            overflow: hidden;
            position: relative;
            transition: 0.3s;
            background: #ffffff;
        }

        .card-detail {
            position: absolute;
            bottom: -200px;
            left: 0;
            width: 100%;
            background: white;
            padding: 15px;
            transition: 0.4s;
            min-height: 150px;
        }
        .card-img-top {
            width: 100%;
            height: 220px;      /* supaya tinggi nya sama */
            object-fit: cover;  /* biar page paket wisata ga gepeng */
        }

        .tour-card:hover .card-detail {
            bottom: 0;
        }

        .tour-card:hover {
            transform: translateY(-10px);
        }

        html { scroll-behavior: smooth; }

        .bus-card {
            background: #2f2f8f;
            color: white;
            padding: 20px;
            border-radius: 15px;
            border: 3px solid rgb(255, 238, 0);
            transition: 0.3s;
        }

        .bus-card:hover {
            transform: translateY(-10px);
        }

        .bus-img {
            width: 100%;
            height: 140px;
            object-fit: contain;
        }

        .bus-detail p {
            margin: 3px 0;
            font-size: 14px;
        }

        .icon-box {
            font-size: 40px;
            color: orange;
        }

        .testimonialSwiper {
            padding: 20px 10px 50px;
        }

        .testimonialSwiper {
            position: relative;
            z-index: 3;
        }

        .testimonial-card {
            background: #fff;
            padding: 50px 40px;
            border-radius: 20px;
            box-shadow: 0 10px 30px rgba(0,0,0,0.08);
            transition: 0.3s;
        }

        .testimonial-card:hover {
            transform: translateY(-5px);
        }

        .testimonial-img {
            width: 70px;
            height: 70px;
            border-radius: 50%;
            margin-bottom: 15px;
        }

        .stars {
            color: gold;
            margin: 10px 0;
        }
        
        section h5 {
            margin-bottom: 15px;
        }

        section p {
            font-size: 14px;
            font-weight: bold;
            color: #f0c346;
        }

        section i {
            margin-right: 8px;
            color: orange;
        }
        

        .contact-section {
            background: linear-gradient(to right, #000000, rgb(19, 18, 1));
            border-top: 2px solid #eee;
        }

        .map-container iframe {
            box-shadow: 0 10px 25px rgba(0,0,0,0.2);
        }

        .contact-section h3 {
            font-weight: 600;
        }

        .contact-section::before {
            content: "";
            display: block;
            width: 80px;
            height: 4px;
            background: orange;
            margin-bottom: 20px;
        }

        .promo-section::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.6);
            top: 0;
            left: 0;
        }

        .promo-section .container-fluid {
            position: relative;
            z-index: 2;
        }

        .carousel-control-next-icon {
            background-color: rgba(0,0,0,0.5);
            border-radius: 50%;
        }

        /* CONTAINER SWIPER */
        .swiper {
            width: 100%;
            padding: 50px 0;
            overflow: visible;
            cursor: default;
        }

        /* WRAPPER */
        .swiper-wrapper {
            display: flex;
            align-items: stretch;
        }

        /* SLIDE */
        .mySwiper .swiper-slide {
            width: 300px;
            transition: all 0.4s ease;
            transform: scale(0.8);
            opacity: 1;
            cursor: pointer;
        }

        /* HOVER EFFECT */
        .swiper-slide:hover {
            transform: scale(0.9);
        }

        /* SLIDE AKTIF (TENGAH) */
        .mySwiper .swiper-slide-active {
            transform: scale(1);
            opacity: 1;
            z-index: 2;
        }

        /* NAVIGATION BUTTON */
        .swiper-button-next,
        .swiper-button-prev {
            color: rgb(255, 238, 0) ;
            z-index: 10;
            top: 50%;
            transform: translateY(-50%);
        }

        /* POSISI KELUAR FRAME */
        .swiper-button-next {
            right: -25px;
        }

        .swiper-button-prev {
            left: -25px;
        }

        .newsletter-section {
            background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
                        url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e") center;
            background-size: cover;
            padding: 100px 0;
            position: relative;
        }

        .newsletter-box input {
            height: 50px;
            border-radius: 8px;
        }

        .newsletter-box button {
            height: 50px;
            border-radius: 8px;
            padding: 0 20px;
            font-weight: 600;
        }

        .newsletter-img {
            max-height: 350px;
            animation: float 3s ease-in-out infinite;
        }

        @keyframes float {
            0% { transform: translateY(0px); }
            50% { transform: translateY(-15px); }
            100% { transform: translateY(0px); }
        }

        .newsletter-box button:hover {
            transform: scale(1.05);
            transition: 0.3s;
        }
      
        .footer-custom {
            background: #0b2c5a;
        }

        .footer-custom h5 {
            margin-bottom: 15px;
        }

        .footer-custom ul li {
            margin-bottom: 8px;
            cursor: pointer;
        }

        .footer-custom ul li:hover {
            color: orange;
        }

        .navbar .nav-link { margin-right: 10px; }
        .navbar .btn { margin-left: 5px; }
        .navbar-brand { margin-right: 30px; }
        .navbar .ms-auto {margin-left: auto !important;}
        .navbar { padding-left: 20px; padding-right: 20px;}
        .navbar .input-group {max-width: 220px;}
        .navbar .input-group input { padding: 5px 10px; }
        .navbar .input-group .btn { padding: 5px 10px; }